.form-group {
    @apply flex-col gap-1 mb-2;
}
:host ::ng-deep .mat-form-field-infix {
    width:100% !important;
}
:host ::ng-deep mat-error {
}

.saveChanges{
    background-color: darkorange;
    color: white;
}