<p>nav-invoice works!</p>
<div>
    
   <button mat-raised-button color=primary (click)="openInvoiceWithOrder()">פתח חשבונית עם הזמנה</button>
 </div>
 <div>
 <button mat-raised-button color=primary (click)="openInvoiceWithOutOrder()">פתח חשבונית ללא הזמנה</button>
</div> 
<div>
   <button mat-raised-button color=primary (click)="openInvoiceForUpdate()">פתח חשבונית לעדכון</button>
</div>
<div>
   <button mat-raised-button color=primary (click)="openInvoiceNewAction()">פתח חשבונית להוספת פעולה עם הזמנה</button>
    
</div>
